# Ignore everything by default
*

# Allow the gitignore file itself
!.gitignore

# Allow Hyprland and related configs
!hypr/
!hypr/**

!waybar/
!waybar/**

!kitty/
!kitty/**

!fuzzel/
!fuzzel/**

!vim/
!vim/**

# Assets
!Wallpapers/
!Wallpapers/**
!ScreenShots/
!ScreenShots/**

# Allow README file
!README.md
