# Ignore everything by default
*

# Allow the gitignore file itself
!.gitignore

# Allow Hyprland and related configs
!hypr/
!hypr/**

!waybar/
!waybar/**

!ghostty/
!ghostty/**

!fuzzel/
!fuzzel/**

!fastfetch/
!fastfetch/**

!nvim/
!nvim/**

!vim/
!vim/**

# Assets
!Wallpaper/
!Wallpaper/**

!ScreenShots/
!ScreenShots/**

# Allow README file
!README.md
