* {
    border: none;
    border-radius: 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 11px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: #282828;
    color: #ebdbb2;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

tooltip {
  background: #282828; 
}
tooltip label {
  color: white;
}

#workspaces button {
    border: none;
    background: #121212;
    color: white;
    padding: 0px;
    margin: 0px;
    min-width: 24px;
    min-height: 24px;
}

#workspaces button.active{
    border: none;
    background: #d79921;
    color: #282828;
}

#clock {
    border: none;
    background: transparent;
    font-weight: 700;
}

#battery {
    padding: 0 5px;
    margin: 0 10px;
    border: none;
}
#pulseaudio{
    padding: 0 5px;
    margin: 0 10px;
    border: none;
}

#network{
    padding: 0 5px;
    margin: 0 10px;
    border: none;
}
