* {
    border: none;
    border-radius: 0;
    font-family: "MesloLGS Nerd Font";
    font-size: 11px;

    margin: 0;
    padding: 0;
}

window#waybar {
    background: #000000;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

tooltip {
  background: #282828; 
}
tooltip label {
  color: white;
}

#workspaces button {
    border: 0.5px solid #777777;
    background: #2b2b2b;
    color: #d4d4d4;
    padding: 0px;
    margin: 0px;
    min-width: 15px;
    min-height: 5px;
}

#workspaces button.active{
    background: #4a4a4a;
    color: #ffffff;
    border: 0.5px solid #777777;
}

#clock {
    border: none;
    background: transparent;
    padding: 0 0px;
    margin: 0 5px
}

#battery {
    padding: 0 0px;
    margin: 0 5px;
    border: none;
}
#pulseaudio{
    padding: 0 0px;
    margin: 0 5px;
    border: none;
}

#network{
    padding: 0 0px;
    margin: 0 5px;
    border: none;
}
